!!!
%html
  %head
    %title EmberJs
    %link{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/app/application.js", :type => "text/javascript"}
  %body
    = yield